body {
    margin-left: 18px;
    font-family: Arial, helvetica, Verdana, Sans-Serif;
}

.accueil_label {
display: inline-block;
width
    : 120px;
}
.labelsAjouteStagiaires {
    display: inline-block;
    width: 130px;
    height: 18px;
}

.labelsAjouteStages {
    display: inline-block;
    width: 130px;
}


.labels-Stagiaire {
    display: inline-block;
    width: 130px;
}
.vertSucces {
color : green;
font-weight:bold;
}
